/* =====================
 * Variables
 * ===================== */
/* Defaults */
/* Import core compass framework http://compass-style.org/reference/compass/ */
/* Custom variables (imports are first so custom variables can us them) */
/* =====================
 * Mixins
 * ===================== */
/* =====================
 * Import partials
 * ===================== */
/* line 4, ../sass/_typography.sass */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/_typography.sass */
body {
  color: black;
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: 0px 1px 1px white;
}

/* line 61, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.25em;
}

/* line 13, ../sass/_typography.sass */
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
@media (max-width: 600px) {
  /* line 13, ../sass/_typography.sass */
  h1 {
    font-size: 24px;
    line-height: 1.5;
  }
}

/* line 20, ../sass/_typography.sass */
h2 {
  font-size: 1.75em;
  line-height: 1.42857em;
}
@media (max-width: 600px) {
  /* line 20, ../sass/_typography.sass */
  h2 {
    font-size: 18px;
    line-height: 1.5;
  }
}
/* line 27, ../sass/_typography.sass */
header > h2 {
  font-weight: 300;
}

/* line 30, ../sass/_typography.sass */
header > * {
  text-shadow: 0 1px #ffe098;
}

/* line 33, ../sass/_typography.sass */
a {
  color: #b27c00;
  text-decoration: none;
  border-bottom: 1px solid #feb200;
}

/* line 38, ../sass/_typography.sass */
a:hover {
  border-bottom-width: 3px;
}

/* line 41, ../sass/_typography.sass */
a:visited {
  color: #7f5900;
  border-bottom-color: #7f5900;
}

/* line 49, ../sass/_typography.sass */
p a,
li a,
dl a,
td a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 18px;
}

/* line 53, ../sass/_typography.sass */
.note,
.note code {
  font-size: 0.875em;
  line-height: 1.42857em;
}

/* line 57, ../sass/_typography.sass */
#type-tester {
  font-size: 32px;
  line-height: 1.2;
}
@media (max-width: 780px) {
  /* line 57, ../sass/_typography.sass */
  #type-tester {
    font-size: 24px;
    line-height: 1.1;
  }
}

/* line 66, ../sass/_typography.sass */
footer p {
  font-size: 0.875em;
  line-height: 1.42857em;
  margin-top: 0.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.71429em;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px 1px black;
}
/* line 71, ../sass/_typography.sass */
footer p a {
  color: #feb200;
  border-bottom-color: #feb200;
}
/* line 75, ../sass/_typography.sass */
footer p a:visited {
  color: #cb8e00;
  border-bottom-color: #cb8e00;
}

/* line 1, ../sass/_elements.sass */
html {
  background-color: #d4d4d4;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #ffffff), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #ffffff 45%, #d4d4d4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 45%, #d4d4d4 100%);
  background-image: -o-linear-gradient(top, #ffffff 45%, #d4d4d4 100%);
  background-image: linear-gradient(top, #ffffff 45%, #d4d4d4 100%);
  height: 100%;
}

/* line 7, ../sass/_elements.sass */
body {
  width: 100%;
  margin: 0;
}

/* line 11, ../sass/_elements.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../sass/_elements.sass */
.preload * {
  font-size: 0;
}

/* line 20, ../sass/_elements.sass */
header {
  min-height: 60px;
  background-color: #feb200;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.06) 50%, transparent 50%), -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.12) 50%), -webkit-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.16) 50%);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.06) 50%, transparent 50%), -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -moz-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.12) 50%), -moz-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.16) 50%);
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.06) 50%, transparent 50%), -o-linear-gradient(90deg, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -o-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.12) 50%), -o-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.16) 50%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.08) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.12) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.16) 50%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.06) 50%, transparent 50%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -webkit-linear-gradient(left, transparent 50%, rgba(255, 255, 255, 0.12) 50%), -webkit-linear-gradient(left, transparent 50%, rgba(255, 255, 255, 0.16) 50%);
  -webkit-background-size: 13px, 29px, 37px, 53px;
  -moz-background-size: 13px, 29px, 37px, 53px;
  -o-background-size: 13px, 29px, 37px, 53px;
  background-size: 13px, 29px, 37px, 53px;
  padding: 1em 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px;
}
/* line 47, ../sass/_elements.sass */
header > * {
  width: 95%;
  margin: 0 auto;
}

/* line 51, ../sass/_elements.sass */
footer {
  padding: 2px 1.5em;
  background: #1a1a1a;
}
@media (max-width: 600px) {
  /* line 51, ../sass/_elements.sass */
  footer {
    padding: 1px 0.75em;
  }
}

/* line 58, ../sass/_elements.sass */
code {
  display: block;
  padding: 4px;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 64, ../sass/_elements.sass */
p code {
  display: inline;
  white-space: nowrap;
}

/* line 25, ../sass/_ui.sass */
#page-font-notice {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 5%;
  padding: 0.5em 1em;
  background: rgba(255, 227, 162, 0.75);
}

/* line 33, ../sass/_ui.sass */
#font-embed-code {
  position: fixed;
  height: 0;
  bottom: -60px;
  left: 15%;
  width: 70%;
  padding: 0 1em;
  overflow: hidden;
  background: rgba(255, 227, 162, 0.9);
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@media (max-width: 600px) {
  /* line 33, ../sass/_ui.sass */
  #font-embed-code {
    width: 100%;
    padding: 0 0.5em;
    left: 0;
    line-height: 1.2;
  }
  /* line 51, ../sass/_ui.sass */
  #font-embed-code p,
  #font-embed-code code {
    margin: 0.5em 0;
  }
}
/* line 55, ../sass/_ui.sass */
#font-embed-code.active {
  height: auto;
  bottom: 0;
}

/* line 59, ../sass/_ui.sass */
#type-tester {
  display: block;
  width: 50%;
  float: right;
  height: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #ffe3a2;
  overflow-y: auto;
}
@media (max-width: 780px) {
  /* line 59, ../sass/_ui.sass */
  #type-tester {
    width: 45%;
  }
}
@media (max-width: 680px) {
  /* line 59, ../sass/_ui.sass */
  #type-tester {
    width: 40%;
  }
}
@media (max-width: 600px) {
  /* line 78, ../sass/_ui.sass */
  .ewf-toolbars #type-tester {
    width: 95%;
    float: none;
    height: 66px;
    box-shadow: 0 0 0 4px white, 0 0 0 5px #b4b6b5;
    margin: 5px 0 0 5px;
  }
}
/* line 86, ../sass/_ui.sass */
#type-tester.active {
  height: 66px;
  padding: 0.2em 0.3em;
  margin-right: 6px;
  box-shadow: 0 0 0 5px white, 0 0 0 6px #b4b6b5;
}

/* line 92, ../sass/_ui.sass */
.edge-web-fonts {
  width: 95%;
  margin: 0 auto 1em;
}

/* line 96, ../sass/_ui.sass */
#ewf-picker {
  position: relative;
  width: 100%;
}

/* line 100, ../sass/_ui.sass */
.ewf-search-fonts {
  display: block;
  width: 40%;
  max-width: 392px;
  min-width: 250px;
  margin: 14px 0;
  padding: 0 0 0 28px;
  height: 28px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.48);
  border: 1px solid #b4b6b5;
  background-color: #dbddde;
  font-size: 0.85em;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 115, ../sass/_ui.sass */
.ewf-search-fonts:focus {
  background-color: white;
}

/* line 118, ../sass/_ui.sass */
.ewf-side-bar {
  position: absolute;
  top: 42px;
  left: 0;
}
@media (max-width: 600px) {
  /* line 118, ../sass/_ui.sass */
  .ewf-side-bar {
    top: 122px;
  }
}

/* line 126, ../sass/_ui.sass */
ul {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}
/* line 131, ../sass/_ui.sass */
.ewf-top-bar ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 14px;
}
/* line 135, ../sass/_ui.sass */
.ewf-top-bar ul.font-weights {
  margin-left: 46px;
  white-space: nowrap;
}
/* line 139, ../sass/_ui.sass */
.ewf-top-bar ul.font-italics {
  display: none;
}

/* line 142, ../sass/_ui.sass */
li {
  list-style: none;
  height: 30px;
}
/* line 146, ../sass/_ui.sass */
.ewf-top-bar li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 -5px 0 0;
}

/* line 150, ../sass/_ui.sass */
li button {
  display: block;
  position: relative;
  border: 1px solid #b4b6b5;
  background: #dbddde;
  width: 32px;
  height: 32px;
  padding: 0;
}
@media (max-width: 600px) {
  /* line 159, ../sass/_ui.sass */
  .ewf-top-bar li button {
    width: 29px;
  }
}
/* line 163, ../sass/_ui.sass */
li button:hover {
  background-color: #c8cbcd;
}
/* line 166, ../sass/_ui.sass */
li button.selected {
  background-color: #a6abad;
}
/* line 169, ../sass/_ui.sass */
li button:active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
}
/* line 174, ../sass/_ui.sass */
li button:disabled div, li button.disabled div {
  background-position: -30px 0;
}
/* line 177, ../sass/_ui.sass */
li button > div {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
/* line 183, ../sass/_ui.sass */
.ewf-top-bar li button {
  font-size: 22px;
  color: #414242;
  font-family: inherit;
  line-height: 32px;
}
/* line 189, ../sass/_ui.sass */
.ewf-top-bar li button .italics {
  font-style: italic;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n1 {
  font-weight: 100;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n2 {
  font-weight: 200;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n3 {
  font-weight: 300;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n4 {
  font-weight: 400;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n5 {
  font-weight: 500;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n6 {
  font-weight: 600;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n7 {
  font-weight: 700;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n8 {
  font-weight: 800;
}
/* line 195, ../sass/_ui.sass */
.ewf-top-bar li button .n9 {
  font-weight: 900;
}

/* line 200, ../sass/_ui.sass */
.ewf-side-bar li:first-child button {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48) inset;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 205, ../sass/_ui.sass */
.ewf-top-bar li:first-child button {
  box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.48) inset;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 212, ../sass/_ui.sass */
.ewf-side-bar li:last-child button {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 216, ../sass/_ui.sass */
.ewf-top-bar li:last-child button {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 220, ../sass/_ui.sass */
.ewf-icon {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 30px;
}

/* line 226, ../sass/_ui.sass */
.ewf-icon:disabled {
  background-position: -30px 0;
}

/* line 229, ../sass/_ui.sass */
.ewf-results {
  margin-left: 32px;
  width: 97.5%;
  height: 530px;
  /* Add top padding for active font style and remove extra padding with negative margin (still need to compensate in height above for padding, however) */
  padding-top: 4px;
  margin-top: -4px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 1%;
}
@media (min-height: 880px) {
  /* line 229, ../sass/_ui.sass */
  .ewf-results {
    height: 665px;
  }
}
@media (max-height: 740px) {
  /* line 229, ../sass/_ui.sass */
  .ewf-results {
    height: 395px;
  }
}
@media (max-height: 610px) {
  /* line 229, ../sass/_ui.sass */
  .ewf-results {
    height: 260px;
  }
}
/* line 248, ../sass/_ui.sass */
.ewf-results .ewf-font {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 111px;
  height: 121px;
  margin-left: 14px;
  margin-bottom: 14px;
  padding-top: 80px;
  background-repeat: no-repeat;
  border: 1px solid #b4b6b5;
  background-color: white;
  background-position: 50% -20px;
  cursor: pointer;
  font-size: 10000%;
  overflow: hidden;
  -webkit-transition-property: width, padding;
  -moz-transition-property: width, padding;
  -o-transition-property: width, padding;
  transition-property: width, padding;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 266, ../sass/_ui.sass */
.ewf-results .ewf-font:hover {
  border-color: #feb200;
  -webkit-box-shadow: 0 0 3px #feb200;
  -moz-box-shadow: 0 0 3px #feb200;
  box-shadow: 0 0 3px #feb200;
}
/* line 270, ../sass/_ui.sass */
.ewf-results .ewf-font.active {
  border-color: #00b900;
  -webkit-box-shadow: 0 0 5px #00b900;
  -moz-box-shadow: 0 0 5px #00b900;
  box-shadow: 0 0 5px #00b900;
}
/* line 276, ../sass/_ui.sass */
#ewf-picker .ewf-results .ewf-font.non-match {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 279, ../sass/_ui.sass */
.ewf-results .ewf-font-details {
  display: table;
  height: 39px;
  width: 100%;
  padding: 0 6px;
  background-color: #e5e8e7;
  border-top: 1px solid #b4b6b5;
  overflow: hidden;
  cursor: pointer;
}
/* line 289, ../sass/_ui.sass */
.ewf-results .ewf-font-details label {
  display: table-cell;
  background-color: transparent;
  vertical-align: middle;
  font-size: 0.8125em;
  text-shadow: 0 1px 0 white;
  width: auto;
  text-align: left;
  line-height: 1.2;
  padding: 0;
  cursor: pointer;
}

/* line 302, ../sass/_ui.sass */
.wait {
  top: 250px;
  left: 300px;
}

/* line 307, ../sass/_ui.sass */
.ewf-search-fonts {
  background-image: url('../img/fonts_search.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_search.png?1360714058') 1x, url('../img/fonts_search@2x.png?1360714058') 2x);
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

/*
 *	Font filters logic (icon images and filtering of results)
 */
/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.headings {
  background-image: url('../img/fonts_headings.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_headings.png?1360714058') 1x, url('../img/fonts_headings@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.paragraphs {
  background-image: url('../img/fonts_paragraphs.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_paragraphs.png?1360714058') 1x, url('../img/fonts_paragraphs@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.serif {
  background-image: url('../img/fonts_serif.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_serif.png?1360714058') 1x, url('../img/fonts_serif@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.sans-serif {
  background-image: url('../img/fonts_sans-serif.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_sans-serif.png?1360714058') 1x, url('../img/fonts_sans-serif@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.slab-serif {
  background-image: url('../img/fonts_slab-serif.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_slab-serif.png?1360714058') 1x, url('../img/fonts_slab-serif@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.script {
  background-image: url('../img/fonts_script.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_script.png?1360714058') 1x, url('../img/fonts_script@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.blackletter {
  background-image: url('../img/fonts_blackletter.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_blackletter.png?1360714058') 1x, url('../img/fonts_blackletter@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.monospaced {
  background-image: url('../img/fonts_monospaced.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_monospaced.png?1360714058') 1x, url('../img/fonts_monospaced@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.handmade {
  background-image: url('../img/fonts_handmade.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_handmade.png?1360714058') 1x, url('../img/fonts_handmade@2x.png?1360714058') 2x);
}

/* Retina-ized icons for browser interface */
/* line 318, ../sass/_ui.sass */
.decorative {
  background-image: url('../img/fonts_decorative.png?1360714058');
  background-image: -webkit-image-set(url('../img/fonts_decorative.png?1360714058') 1x, url('../img/fonts_decorative@2x.png?1360714058') 2x);
}

/* line 323, ../sass/_ui.sass */
.filter-headings .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-headings .headings {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-paragraphs .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-paragraphs .paragraphs {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-serif .serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-sans-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-sans-serif .sans-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-slab-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-slab-serif .slab-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-script .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-script .script {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-blackletter .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-blackletter .blackletter {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-monospaced .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-monospaced .monospaced {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-handmade .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-handmade .handmade {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-decorative .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-decorative .decorative {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n1 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n1 .n1 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n2 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n2 .n2 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n3 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n3 .n3 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n4 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n4 .n4 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n5 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n5 .n5 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n6 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n6 .n6 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n7 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n7 .n7 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n8 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n8 .n8 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 323, ../sass/_ui.sass */
.filter-n9 .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}

/* line 326, ../sass/_ui.sass */
.filter-n9 .n9 {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-serif .ewf-font.headings.serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-sans-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-sans-serif .ewf-font.headings.sans-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-slab-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-slab-serif .ewf-font.headings.slab-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-script .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-script .ewf-font.headings.script {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-blackletter .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-blackletter .ewf-font.headings.blackletter {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-monospaced .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-monospaced .ewf-font.headings.monospaced {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-handmade .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-handmade .ewf-font.headings.handmade {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-headings.filter-decorative .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-headings.filter-decorative .ewf-font.headings.decorative {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-serif .ewf-font.paragraphs.serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-sans-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-sans-serif .ewf-font.paragraphs.sans-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-slab-serif .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-slab-serif .ewf-font.paragraphs.slab-serif {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-script .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-script .ewf-font.paragraphs.script {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-blackletter .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-blackletter .ewf-font.paragraphs.blackletter {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-monospaced .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-monospaced .ewf-font.paragraphs.monospaced {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-handmade .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-handmade .ewf-font.paragraphs.handmade {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}

/* line 333, ../sass/_ui.sass */
.filter-paragraphs.filter-decorative .ewf-font {
  width: 0;
  margin-left: 0;
  border-width: 0;
}
/* line 336, ../sass/_ui.sass */
.filter-paragraphs.filter-decorative .ewf-font.paragraphs.decorative {
  width: 111px;
  margin-left: 14px;
  border-width: 1px;
}
