html
	+background(linear-gradient(to bottom, lighten($bckg-color, 10%) 80px, darken($bckg-color, 5%) 100%))
	height: 100%

body
	width: $total-width
	margin: 1em auto

*
	+box-sizing(border-box)

	.preload &
		font-size: 0
