$button-width: 30px
$button-height: $button-width
$search-height: $button-height - 2
$font-height: 121px
$font-width: 111px
$font-spacing: 14px
$font-filters: "serif" "sans-serif" "slab-serif" "script" "blackletter" "monospaced" "handmade" "decorative" "headings" "paragraphs"

@mixin hide-font
	width: 0
	margin-left: 0
	border-width: 0

@mixin show-font
	width: $font-width
	margin-left: $font-spacing
	border-width: 1px

#page-font-notice
	position: absolute
	z-index: 1
	top: 0
	right: 5%
	padding: 0.5em 1em
	background: rgba(lighten($accent-color, 35%), 0.75)

.edge-web-fonts
	width: $total-width
	margin: 0 auto 1em

#ewf-picker
	position: relative
	width: 100%

	.ewf-side-bar
		position: absolute
		top: $font-spacing + $search-height
		left: 0

	.ewf-search-fonts
		display: block
		width: 40%
		max-width: 392px
		min-width: 250px
		margin: $font-spacing 0
		padding: 0 0 0 $button-width - 2
		height: $search-height
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.48)
		border: $grey-border
		background-color: $button-bckg-color
		font-size: 0.85em
		+transition-property(background-color)
		+transition-duration(0.2s)

		&:focus
			background-color: white
	
	button
		padding: 0
	
	button:hover
		background: #dce1e4
		background-position: 0 -30px
	
	button.selected
		background: #bdbdbd
	
	.ewf-button
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48) inset
		border: $grey-border
		background: #dbddde
		border-radius: 3px
		width: $button-width + 2
		height: $button-height + 2
	
	.ewf-button:disabled
		background-position: -$button-width 0
	
	ul
		padding: 0
		margin: 0
		margin-bottom: 18px
	
	li
		list-style: none
		height: 30px
	
	li button
		border: $grey-border
		background: $button-bckg-color
		width: $button-width + 2
		height: $button-height + 2

		&:hover
			background-color: darken($button-bckg-color, 7%)

		&.selected
			background-color: darken($button-bckg-color, 20%)

		&:active
			box-shadow: 0 0 $button-width / 2 rgba(0, 0, 0, 0.4) inset

		&:disabled,
		&.disabled
			div
				background-position: -$button-width 0

		> *
			background-repeat: no-repeat
	
	li:first-child button
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48) inset
		border-top-left-radius: 3px
		border-top-right-radius: 3px
	
	li:last-child button
		border-bottom-left-radius: 3px
		border-bottom-right-radius: 3px
	
	.ewf-icon
		padding: 0
		margin: 0 auto
		height: 100%
	
	.ewf-icon:disabled
		background-position: -$button-width 0
			
	.ewf-results
		margin-left: $button-width + 2
		width: 97.5%
		height: $font-height * 4 + $font-spacing * 3
		+overflow-scroll
		font-size: 1%
	
		.ewf-font
			+inline-block
			width: $font-width
			height: $font-height
			margin-left: $font-spacing
			margin-bottom: $font-spacing
			padding-top: $font-height - 41px
			background-repeat: no-repeat
			border: $grey-border
			background-color: white
			background-position: 50% -20px
			cursor: pointer
			// .01 * 10000 = 100
			font-size: 10000%
			overflow: hidden
			+transition-property(width)
			+transition-duration(0.3s)
		
			&:hover
				border-color: $accent-color
				+box-shadow(0 0 3px $accent-color)

			&.non-match
				+hide-font
		
		.ewf-font-details
			display: table
			height: 39px
			width: 100%
			padding: 0 6px
			background-color: #e5e8e7
			border-top: 1px solid #b4b6b5
			overflow: hidden
			cursor: pointer
		
			label
				display: table-cell
				background-color: transparent
				vertical-align: middle
				// 0.8125 * 16 = 13
				font-size: 0.8125em
				text-shadow: 0 1px 0 #fff
				width: auto
				text-align: left
				line-height: 1.2
				padding: 0
				cursor: pointer
	
	.wait
		top: 250px
		left: 300px
	

	.ewf-search-fonts
		+image-set("fonts_search", "png")
		background-repeat: no-repeat
		background-position: 0 ($search-height - $button-height) / 2
	
	/**
	 *	Font filters logic (icon images and filtering of results)
	 */

	@each $filter in $font-filters
		/* Retina-ized icons for browser interface */
		.#{$filter}
			+image-set("fonts_" + $filter, "png")

		.filter-#{$filter} .ewf-font
			+hide-font

			&.#{$filter}
				+show-font
		
		// Should be a way to generate styles to cover all possible combination of styles of .and-search (as opposed to OR, which is already covered)
		// @for $i from 1 through length($font-filters)
		@each $sub-filter in $font-filters
			@if $filter != $sub-filter
				//.and-search.filter-#{$filter}.filter-#{$sub-filter} .ewf-font
				.filter-#{$filter}.filter-#{$sub-filter} .ewf-font
					+hide-font

					&.#{$filter}.#{$sub-filter}
						+show-font
